.footer {
    width: 1000px;
    margin: auto;
    margin-bottom: 4%;
}
small {
    color: black;
    font-weight: bold;
} 
.socialLinks {
    margin-left: auto;
    float: right;
    margin: auto;
}
.socialLinks > a {
    text-decoration: none;
}
.socialLinks > a > .img-responsive {
     display: inline;
     margin-left: 7px; 
}

/*Responsive styles*/
@media (max-width: 1020px) {
    .footer {
        width: 80%;
        margin: auto;
        margin-bottom: 4%;
    }
}
@media (max-width: 767px) {
    small {
        display: block;
        margin-top: 0px;
        width: 200px;
        margin: auto;        
    }
    footer {
        padding-top: 50px;
    }
    .socialLinks {
        display: block;
        width: 50%;
        margin: 5% 25% 0 25%;
        background-color: red;
        position: relative;
        top: -100px;
    }
}
@media (max-width: 424px) {
    .socialLinks {
        display: block;
        width: 60%;
        margin: 5% 20% 0 20%;
        background-color: red;
        position: relative;
        top: -100px;
    }

}
@media (max-width: 360px) {
    .socialLinks {
        display: block;
        width: 70%;
        margin: 5% 15% 0 15%;
        background-color: red;
        position: relative;
        top: -100px;
    }

}
