.footer {
    width: 1000px;
    margin: auto;
    margin-bottom: 4%;
}
small {
    color: black;
    font-weight: bold;
} 
.socialLinks {
    margin-left: auto;
    float: right;
    margin: auto;
}
.socialLinks > a {
    text-decoration: none;
}
.socialLinks > a > .img-responsive {
     display: inline;
     margin-left: 7px; 
}

/*Responsive styles*/
@media (max-width: 1020px) {
    .footer {
        width: 80%;
        margin: auto;
        margin-bottom: 4%;
    }
}
@media (max-width: 767px) {
    small {
        display: block;
        margin-top: 50px;
        padding-left: 33%;
    }
    .socialLinks {
        position: absolute;
        left: 38%;
        transform: translateY(-80px);
    }
    footer {
        padding-bottom: 20px;
    }
}
@media (max-width: 480px) {
    small {
        display: block;
        padding-left: 21%;
    }
    .socialLinks {
        position: absolute;
        left: 30%;
        transform: translateY(-80px);
    }
}
