.formSendMail {
    width: 1000px;
    margin: auto;
}
.inlineBlock {
    display: inline-block;
    width: 478px;
    margin-bottom: 30px;
}
.firstBlock {
    margin-right: 40px;
}
.input, .select {
    height: 50px;
}
.divSelect {
    margin-bottom: 30px;
}
textarea {
    padding-top: 15px;
    min-height: 150px;
}
.divTextarea {
    margin-bottom: 30px;
}
.submitBtn {
    width: 20%;
    margin: 0 40%;
    width: 208px;
	height: 49px;
	background-color: #01BAD6;
	border-radius: 5px;	
	border: none;
}
.asterisk {
    color: #01BAD6;
}
/* Validation stiles */
.error {
    color: red;
}
.valid {
    color: green;
}

/*Responsive styles*/
@media (max-width: 1020px) {
    .formSendMail {
        width: 100%;
    }
    .inlineBlock {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 30px;
    }
    .divSelect, .divTextarea {
        width: 90%;
        margin-left: 5%;
    }
    .submitBtnHolder {
        display: inline-block;
        width: 100%;
        
    }
    .submitBtn {
        padding: 0;
        width: 30%;
        margin: 0 35% 0 35%;
    }   
}
@media (max-width: 767px) {
    .submitBtn {
        padding: 0;
        width: 50%;
        margin: 0 25% 0 25%;
    }   
}