/* Global Styles */
* {
	font-family: 'Open Sans', sans-serif;
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

/* Navbar */
.navbar {
	position: fixed;
	width: 100%;	
	z-index: 1;
	height: 50px;
	background-color: rgba(0,0,0, 0.75);
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.nav {
	margin-left: 26%;
	text-align: center;
}
.nav > li > a {
	padding: 15px 0;
	padding-left: 31px;
	padding-right: 31px;
} 
.hrNav {
	position: absolute;
	top: 47px;
	margin: 0;
	padding-left: 40%;
	z-index: 20;
	border: 1.5px solid #009BED;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: rgba(0,0,0, 0);
	color: white;
	height: 50px;
	font-weight: bold;	
}
.navbar-default .navbar-nav > li > a {
	color: white;
}	
.navbar-default .navbar-nav > li > a:hover {
	color: rgba(0,0,0, 1);
	background-color: rgba(255,255,255, 1);
}
.navbar-default .navbar-nav > .active > a:hover {
	color: rgba(0,0,0, 1);
	background-color: rgba(255,255,255, 1);
}

/* Header */
header {
	color: white;
	position: relative;
	text-shadow: 0px 0px 5px grey;
}
.imgBackground {
	height: 900px;
}
header > h1 {
	position: absolute;
	top: 80px;
	margin-top: 0;
	margin-bottom: 0;
	left: 24%;
	line-height: 19.9px;	
	font-size: 26px;	
}
header > h2 {
	position: absolute;
	top: 135px;
	left: 36%;
	line-height: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 21.5px;
}
.t-recs { 
	position: absolute;
	top: 196.5px;;
	left: 33.5%;
	height: 52.833%;
	width: 33%;	
}
.btnContainer {
	position: absolute;
	top: 81.111%;
	background-color: rgba(255,255,255, 0.25);
	width: 100%;	
	height: 18.888%;
	text-align: center;
}
.headerBtn {
	width: 208px;
	height: 49px;
	background-color: #01BAD6;
	box-shadow: 0px 2px 5px #35343C;
	margin: 60.5px 20px 60.5px 20px;
	border-radius: 5px;	
	border: none;
}
.btn-primary:hover {
	/*background-color: #01BAD6;*/
	color: black;
	background-color: #e3e4e5;
	box-shadow: 0px 5px 20px black;
}
.btn-primary:active:focus {  
	color: black; 
	background-color:white;
	outline: none;
}
.btn-primary:focus {
	background-color: #006e7f;
    outline: none;
	font-weight: normal;	
}

/*PC styles* 1280x1024*/
@media (max-height: 900px) {
	.imgBackground {
    	height: 100vh;
    	width: 100vw;
    }  
}
/*Large screen 1440x900, 1680x1050, 1920x1200*/
@media (min-height: 1024px) {
	.imgBackground {
		width: 100%;
		margin: auto; 
	}
	.nav {
		margin-left: 20%;
	}	
}
@media (min-height: 1367px)  {
	.imgBackground {
		width: 60vw; /*60%*/
		margin: auto;
	}
	.t-recs { 
		left: 40.5%;
		width: 15%;	
	}
}
/*Tablet styles*/
@media (max-height: 768x) {
	.nav  {
		margin: 0;
		padding: 0;
		background-color: rgba(0,0,0, 0.9);	
	} 
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background-color: rgba(0,0,0, 0);
	}
	li {
		text-align: center;
	}
	.hrNav {
		margin: 0;
		left: 0;
		padding-left: 100%;
	}
	.navbar-collapse {		
		padding: 0;
		z-index: 1;
	}
	.navbar-default .navbar-nav > .active > a:hover {
		color: white;
		background-color: rgba(0,0,0, 0);
	}
    header > h1 {
		position: absolute;
		top: 80px;
		margin-top: 0;
		margin-bottom: 0;
		left: 24%;
		line-height: 19.9px;	
		font-size: 26px;	
	}
	header > h2 {
		position: absolute;
		top: 135px;
		left: 36%;
		line-height: 16px;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 21.5px;
	}
 	.t-recs { 
		position: absolute;
		top: 28%;
		left: 35%;
		height: 50%;
		width: 30%;	
	}
	.headerBtn {
		width: 150px;
		height: 49px;
		margin: 5% 10px 1% 10px;
	}
}
 /*Phone styles*/
@media screen and (max-height: 478px) {
	header > h1 {
		position: absolute;
		top: 16%;
		left: 5%;	
		font-size: 17px;
		z-index: 0;
	}
	header > h2 {
		position: absolute;
		top: 23%;
		left: 5%;
		font-size: 14px;
		z-index: 0;
	}
	.t-recs { 
		position: absolute;
		top: 32%;
		left: 35%;
		height: 45%;
		width: 25%;	
	}
	.headerBtn {
		width: 25%;
		height: 60%;
		margin: 1% 10px 0% 10px;
	}	
}
/*Nexus 5X with keyboard*/
@media  (max-height: 200px) {
	.imgBackground {
		height: 300vh;
		width: 100vw;
	}  
}
@media  screen and (max-width: 375px) {
	.headerBtn {
		width: 120px;
		height: 49px;
		margin: 5% 10px 0% 10px;
	}	
}
@media  screen and (max-width: 425px) {
	.t-recs { 
		position: absolute;
		top: 35%;
		left: 25%;
		height: 40%;
		width: 50%;	
	}
	header > h1 {
		position: absolute;
		top: 11%;
		left: 5%;
		line-height: 22px;	
		font-size: 22px;
		z-index: 0;
	}
	header > h2 {
		position: absolute;
		top: 20%;
		left: 5%;
		font-size: 14px;
		z-index: 0;
	}
}
@media  screen and (max-width: 768px) {
	header > h1 { 
		left: 5%;
	}
	header > h2 {
		left: 5%;
	}
	.headerBtn {
		width: 120px;
		height: 49px;
		margin: 10% 10px 0% 10px;
	}	
}
@media  screen and (max-height: 480px) {
	.headerBtn {
		width: 120px;
		height: 49px;
		margin: 1% 10px 0% 10px;
	}	
}
@media  screen and (max-width: 768px) {
	
}
@media  (min-width: 960px) {
	.nav  {		
		padding: 0;
		margin-left: 20%;
		background-color: rgba(0,0,0, 0);
	}
}
@media  (min-width: 1280px) {
	.nav  {		
		padding: 0;
		margin-left: 26.5%;
		background-color: rgba(0,0,0, 0);
	} 	
}
@media  (min-width: 1360px) {
	.nav  {		
		padding: 0;
		margin-left: 27.5%;
		background-color: rgba(0,0,0, 0);
	}
	.headerBtn {
		width: 209px;
		height: 49px;
		margin: 3% 10px;
	} 
	.hrNav {
		margin-left: 28%;
		padding-left: 43%;
	}
}
@media  (min-width: 1440px) {
	.hrNav {
		position: absolute;
		top: 47px;
		margin: 0;
		padding-left: 40%;
		z-index: 20;
		border: 1.5px solid #009BED;
	}
}


