/* Global Styles */
* {
	font-family: 'Open Sans', sans-serif;
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

/* Navbar */
.navbar {
	position: fixed;
	width: 100%;	
	z-index: 1;
	height: 50px;
	background-color: rgba(0,0,0, 0.75);
	/*opacity: 0.75;*/
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.nav {
	margin-left: 26%;
	text-align: center;
}
.nav > li {
	margin-left: 31px;
	margin-right: 31px;
}
.nav > li > a {
	padding: 15px 0;
	color: white;
} 
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: rgba(0,0,0, 0);
	color: white;
	height: 50px;
	border-bottom: 3px solid #009BED;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}	
.navbar-default .navbar-nav > li > a:hover {
	color: #009BED;
}

/* Header */
header {
	color: white;
	position: relative;
	text-shadow: 0px 0px 5px grey;
}
.imgBackground {
	max-height: 900px;

}
header > h1 {
	position: absolute;
	top: 80px;
	margin-top: 0;
	margin-bottom: 0;
	left: 24%;
	line-height: 19.9px;	
	font-size: 26px;
	z-index: 2;
	font-style: oblique;
}
header > h2 {
	position: absolute;
	top: 135px;
	left: 36%;
	line-height: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 21.5px;
	z-index: 5;
	
}
.t-recs { 
	position: absolute;
	top: 195px; /*196.5*/
	left: 34%;
	height: 56.3%;
	padding-bottom: 58px;
	max-width: 35%;	

}
.btnContainer {
	position: absolute;
	top: 80%;
	background-color: rgba(255,255,255, 0.25);
	width: 100%;	
	height: 170px;
	color: red;
	text-align: center;
	
	/*overflow: hidden;*/
}
.btn-primary {
	width: 208px;
	height: 49px;
	background-color: #01BAD6;
	box-shadow: 0px 2px 5px #35343C;
	margin: 5% 20px 4% 20px;
	border: none;
}


.btn-primary:hover {
	background-color: #01BAD6;
	font-weight: bold;
	box-shadow: 0px 5px 20px black;
}
.btn-primary:active:focus {
    color: #fff;
    background-color:red;
    
	outline: none;
}
.btn-primary:focus {
    color: #fff;
    background-color: #01BAD6;
    outline: none;
}

.red {
	width: 50%;
	background-color: red;
	position: fixed;
	top: 50px;
	height: 25px;
}

@media (max-height: 900px) {
    /*.imgBackground {
    	height: 50vh;
    	width: 50vw;
    }*/
	
	.imgBackground {
    	height: 100vh;
    	width: 100vw;
    }
    
	
}

