/* Global Styles */
* {
	font-family: 'Open Sans', sans-serif;
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

/* Navbar */
.navbar {
	position: fixed;
	width: 100%;
	z-index: 1;
	height: 50px;
	background-color: black;
	opacity: 0.75;
	border: none;
	border-radius: 0;
	margin-bottom: 0;

}
.nav {
	margin-left: 26%;
	text-align: center;
}
.nav > li {
	margin-left: 31px;
	margin-right: 31px;
	background-color: black;
}
.nav > li > a {
	padding: 15px 0;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: black;
	color: white;
	height: 50px;
	border-bottom: 3px solid #009BED;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}	
.navbar-default .navbar-nav > li > a:hover {
	color: #009BED;
}


/* Header */
header {
	color: white;

}
.imgBackground {
	max-height: 900px;

}
header > h2 {
	position: absolute;
	top: 80px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 23%;

}
header > h3 {
	position: absolute;
	top: 130px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 36%;

}
.t-recs {
	position: absolute;
	top: 162px;
	left: 40%;
	height: 70%;


	/*
	display: block;
    margin: auto;
    width: 40%;
	*/
}

@media screen and (max-height: 900px) {
    .imgBackground {
    	height: 100%;
    	width: auto;
    }
    .t-recs {
		position: absolute;
		top: 162px;
		left: 40%;
		height: 70%;

	}
}

